.not-found {
    color: #cfcfcf;
}

.not-found header {
    font-size: 5rem;
}

.login-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-card {
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 500px;
}

.login-header {
    background-color: #0d6efd;
    padding: 2.5rem 1rem;
    text-align: center;
}

.login-form {
    padding: 2rem;
}

@media (max-width: 576px) {
    .login-card {
        max-width: 100%;
    }
    
    .login-form {
        padding: 1.5rem;
    }
}
